html {
   font-family: 'PT Sans Caption', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

img {
    display: îinline-block
}

a {
    transition: 0.2s ease-out;
}

* {
    box-sizing: border-box;
}

ul {
    line-height: 1.5;
}

li{
  margin-top: 25px;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.row {  
    
}

.row:after {
    clear: both;
    content: "";
    display: table;
}

.col-4 {
    width: 360px;
    margin-right: 30px;
    float: left;
}

.col-4:last-child {
    margin-right: 0px
}
/*

font-family: 'Merriweather', serif;
font-family: 'PT Sans Caption', sans-serif;
font-family: 'Roboto', sans-serif;

*/

.header {
    background: #FFF
    background-image: url 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    height: 80vh;
    
    color: #123;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
    

}

.circle {
    width: 250px;
    height: 250px;
    overflow: hidden;
    background: #fff;
    padding: 0px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: #aaa 8px solid;
    box-shadow: 0px px 1px 1px #bbb; 
    -moz-box-shadow: 0px 1px 1px 1px #bbb;
    -webkit-box-shadow: 0px 1px 1px 1px #bbb;
}
.circle img {
    display: block;
    width:100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.header__title {
    font-size: 56px;
    margin-bottom: 30px;
    font-family: 'Merriweather', serif;
    margin-top: 30px
}

.header__slogan {
    font-size: 28px;
    line-height: 42 px;

    
}

.header__arrow {
    font-size: 48px;
    width: 60px;
    height: 250px;
    margin-left: -30px;
    
    position: absolute;
    bottom: 60px;
    left: 50%;
}

.hero__wrapper {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    margin-top: 80px;
}


.title {
 font-size: 42px;
    margin-bottom: 60px;
    font-family: 'Merriweather', serif;
    text-align: center;
    margin-top: 60px;
}

.portfolio {
    padding-top: 50px;
        padding-bottom: 250px

}

.portfolio-item {
    margin-bottom: 20px
}

.portfolio-item__img {
    margin-bottom: 17px;
}

.portfolio-item__title {
    font-size: 24px;
    line-height: normal;
    margin-bottom: 5px
}

.portfolio-item__text {
    font-size: 16px;
    line-height: 1.5;
}

.portfolio-item__title a {
    text-decoration: none;
    color: #000;
        border-bottom: 1px solid #FFF;
}

.portfolio-item__title a:hover {
    color: #0052C2;
    border-color: rgba(0, 82, 194, 0.3);
}

.portfolio-item__text p {
    margin-top: 0px;
    margin-bottom: 150px;
}


/*PORTFOLIO SINGLE*/
.portfolio-single-page {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    
}

.portfolio-single-page img {
    margin-bottom: 50px;
    max-width: 100%;
    height: auto;
    display: block;
    
}

.button-back {
    font-weight: 700;
    text-decoration: none;
    color: #061634;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    
    display: inline-block;
    
    border-width: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 50px;
    
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
    padding-right: 23px;
    
    margin-bottom: 13px;
    
    transition: 0.2s ease-out;
    
}

.button-back:hover {
    color:white;
    background-color:#061634;
}

/*............FOOTER..............*/
.footer {

   background-color: #003366;      /*Цвет фона*/
   margin-top:350px;                        /*Определяет верхний отступ для элемента*/
    height: 100px;                               /*Определяет высоту элемента*/
    position: absolute ;                       /*Используется для позиционирования (относительно окна браузера или других объектов на веб-странице) элемента*/
    width: 100%;                                   /*Определяет ширину элемента*/
    padding-top: 60px;                         /*Задает пустое верхнее поле для элемента*/
    padding-bottom: 190px;                /*Задает пустое нижние поле для элемента*/

    color: #FFF;                               /*Цвет текста*/

}

.footer__social-icons {
    color: #FFF;
        font-size: 32px;
    
}

.footer__social-icons a {
    color: #FFF;
    text-decoration: none;
    margin-right: 30px;
   transition: 0.2s ease-out;

}

.footer__social-icons a: last-child{
    margin-right: 0px;

}

.footer__social-icons a:hover {
    color: #FFE400;
}


/*......ADAPTATION.....*/

/*При ширине экрана 1160 пикселей и менее*/
@media (max-width: 1160px) {
   
    .container {
        width: 100%;
    }
    
    .col-4 {
        width: 100%; /*реальная ширина= width:100%+padding 15+15px*/
        box-sizing: border-box;
        
        margin: 0;
        margin-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    
    
}